html {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
}

body {
  font-family: "Open Sans", sans-serif;
  width: 1024px;
  margin: 0 auto;
  z-index: 3;
}

.container-left {
  float: left;
  width: 25%;

  text-align: center;
}
.container-right {
  padding: 0 30px;
  background-color: rgba(0, 0, 0, 0.07);
  float: left;
  width: 68%;
}
